@model MSJennings.PersonalFinance.WebApp.ViewModels.Transactions.TransactionsIndexViewModel

@{
    ViewData["Title"] = "Transactions";
}

<h1>@ViewData["Title"]</h1>

<fieldset>
    <legend>Filter</legend>

    <form method="post">
        <div class="form-group">
            <label asp-for="TransactionsFilter.DateRangeStart"></label>
            <input type="date" class="form-control" asp-for="TransactionsFilter.DateRangeStart" />

            <label asp-for="TransactionsFilter.DateRangeEnd"></label>
            <input type="date" class="form-control" asp-for="TransactionsFilter.DateRangeEnd" />
        </div>

        <div class="form-group">
            <label asp-for="TransactionsFilter.CategoryId"></label>
            <select class="form-control" asp-for="TransactionsFilter.CategoryId" asp-items="Model.TransactionsFilter.CategoriesList">
                <option></option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="TransactionsFilter.Memo"></label>
            <textarea class="form-control" asp-for="TransactionsFilter.Memo"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="TransactionsFilter.AmountRangeStart"></label>
            <input type="number" step="0.01" class="form-control" asp-for="TransactionsFilter.AmountRangeStart" />

            <label asp-for="TransactionsFilter.AmountRangeEnd"></label>
            <input type="number" step="0.01" class="form-control" asp-for="TransactionsFilter.AmountRangeEnd" />
        </div>

        <div class="form-group">
            <label asp-for="TransactionsFilter.IsCredit"></label>
            <select class="form-control" asp-for="TransactionsFilter.IsCredit" asp-items="Model.TransactionsFilter.IsCreditList">
                <option></option>
            </select>
        </div>

        <input type="submit" value="Filter" />
        <input type="reset" />
    </form>
</fieldset>

<div>
    <a title="Add" asp-action="Add">Add</a>
</div>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Memo</th>
            <th>Amount</th>
            <th>Is Credit</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.TransactionsList.OrderBy(x => x.Date))
        {
            <tr>
                <td>@transaction.Date</td>
                <td>@transaction.Category.Name</td>
                <td>@transaction.Memo</td>
                <td>@transaction.Amount</td>
                <td>@transaction.IsCredit</td>
                <td>
                    <a title="Details" asp-action="Details" asp-route-id="@transaction.Id">Details</a>
                    <a title="Edit" asp-action="Edit" asp-route-id="@transaction.Id">Edit</a>
                    <form asp-action="Delete" asp-route-id="@transaction.Id" method="post">
                        <input type="submit" title="Delete" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
