@model MSJennings.PersonalFinance.WebApp.ViewModels.Transactions.TransactionsIndexViewModel

@section Scripts {
    <script type="module">
        import { onLoad } from './js/dist/transactions/index.js';
        onLoad();
    </script>
}

@{
    ViewData["Title"] = "Transactions";
}

<h1>@ViewData["Title"]</h1>

<fieldset>
    <legend>Filter</legend>

    <form method="post">
        <div class="form-group">
            <label asp-for="TransactionsFilter.DateRangeStart"></label>
            <input type="date" class="form-control" asp-for="TransactionsFilter.DateRangeStart" />

            <label asp-for="TransactionsFilter.DateRangeEnd"></label>
            <input type="date" class="form-control" asp-for="TransactionsFilter.DateRangeEnd" />
        </div>

        <div class="form-group">
            <label asp-for="TransactionsFilter.CategoryId"></label>
            <select class="form-control" asp-for="TransactionsFilter.CategoryId" asp-items="Model.TransactionsFilter.CategoriesList">
                <option></option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="TransactionsFilter.Memo"></label>
            <textarea class="form-control" asp-for="TransactionsFilter.Memo"></textarea>
        </div>

        <div class="form-group">
            <label asp-for="TransactionsFilter.AmountRangeStart"></label>
            <input type="number" step="0.01" class="form-control" asp-for="TransactionsFilter.AmountRangeStart" />

            <label asp-for="TransactionsFilter.AmountRangeEnd"></label>
            <input type="number" step="0.01" class="form-control" asp-for="TransactionsFilter.AmountRangeEnd" />
        </div>

        <div class="form-group">
            <label asp-for="TransactionsFilter.IsCredit"></label>
            <select class="form-control" asp-for="TransactionsFilter.IsCredit" asp-items="Model.TransactionsFilter.IsCreditList">
                <option></option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="TransactionsFilter.PageSize"></label>
            <select class="form-control" asp-for="TransactionsFilter.PageSize" asp-items="Model.TransactionsFilter.PageSizesList"></select>
        </div>

        <button type="submit" title="Filter" class="btn btn-outline-primary"><i class="fa fa-filter"></i> Filter</button>
        <button type="button" title="Clear" class="btn btn-outline-secondary"><i class="fa fa-undo"></i> Clear</button>
    </form>
</fieldset>

<div>
    <a title="Add" asp-action="Add" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Add</a>
</div>

<table class="table table-sm table-hover">
    <thead class="thead-light">
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Memo</th>
            <th>Amount</th>
            <th>Is Credit</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.TransactionsList.OrderBy(x => x.Date))
        {
            <tr>
                <td>@transaction.Date</td>
                <td>@transaction.Category.Name</td>
                <td>@transaction.Memo</td>
                <td>@transaction.Amount</td>
                <td>@transaction.IsCredit</td>
                <td>
                    <a title="Details" asp-action="Details" asp-route-id="@transaction.Id" class="btn btn-sm btn-outline-secondary text-nowrap"><i class="fa fa-bars"></i> Details</a>
                    <a title="Edit" asp-action="Edit" asp-route-id="@transaction.Id" class="btn btn-sm btn-outline-success text-nowrap"><i class="far fa-edit"></i> Edit</a>
                    @*
                        <form asp-action="Delete" asp-route-id="@transaction.Id" method="post">
                            <button type="submit" title="Delete" class="btn btn-sm btn-outline-danger text-nowrap"><i class="fa fa-trash-alt"></i> Delete</button>
                        </form>
                    *@
                    <button type="button" title="Delete" class="deleteTransaction btn btn-sm btn-outline-danger text-nowrap" data-transactionid="@transaction.Id"><i class="fa fa-trash-alt"></i> Delete</button>
                </td>
            </tr>
        }
    </tbody>
</table>
