@model MSJennings.PersonalFinance.WebApp.ViewModels.Transactions.TransactionsIndexViewModel

@{
    ViewData["Title"] = "Transactions";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a title="Add" asp-action="Add">Add</a>
</div>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Category</th>
            <th>Memo</th>
            <th>Amount</th>
            <th>Is Credit</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var transaction in Model.TransactionsList.OrderBy(x => x.Date))
        {
            <tr>
                <td>@transaction.Date</td>
                <td>@transaction.Category.Name</td>
                <td>@transaction.Memo</td>
                <td>@transaction.Amount</td>
                <td>@transaction.IsCredit</td>
                <td>
                    <a title="Details" asp-action="Details" asp-route-id="@transaction.Id">Details</a>
                    <a title="Edit" asp-action="Edit" asp-route-id="@transaction.Id">Edit</a>
                    <form asp-action="Delete" asp-route-id="@transaction.Id" method="post">
                        <input type="submit" title="Delete" value="Delete" />
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>